<% @messages.each do |message| %>
  <div class="message">
    <%= message.sender.display_name %>:
    <h3><%= message.subject %></h3>
    <p><%= message.body %></p>
    <p><%= display_attachments(message) %></p>
  </div>
<% end %>
<%= render partial: "message_options" %>
