<% @messages.each do |message| %>
  <div class="message">
    <%= message.sender.display_name %>:
    <h3><%= message.subject %></h3>
    <p><%= message.body %></p>
    <p><%= display_attachments(message) %></p>
  </div>
<% end %>
<%= button_to 'Reply', new_message_path(job_id: @job_id, with: @with_id), method: :get %>
