<div class="container">
  <div class="well">
    <ul>
      <% @jobs.each do |job| %>
      <h3> <%= link_to job.title, job_path(job) %></h3>
      <table class="table">

        <tr>
          <td class="col-md-2">
            Job Skill Required:
          </td>
          <td class="col-md-10">
            <%= job.skill.name %>
          </td>
        </tr>
        <tr>
          <td class="col-md-2">
            Expected Bid Range:
          </td>
          <td class="col-md-10">
            <%= number_to_currency(job.min_price / 100.0) + " - " + number_to_currency(job.max_price / 100.0) %>
          </td>
        </tr>
        <tr>
          <td class="col-md-2">
            Job Description:
          </td>
          <td class="col-md-10">
            <%= job.description %>
          </td>
        </tr>
        <tr>
          <td class="col-md-2">
            Job Status:
          </td>
          <td class="col-md-10">
            <%= job.status %>
          </td>
        </tr>
      </table>
      <% end %>


  </div>
</div>
