<ul>
  <% @jobs.each do |job| %>
    <li>
      <h3><%= link_to job.title, professional_job_path(job) %></h3>
      <h5><%= job.skill.name %></h5>
      <h5><%= number_to_currency(job.min_price / 100.0) + " - " + number_to_currency(job.max_price / 100.0) %></h5>
      <p><%= job.description %></p>
      <h5><%= job.status %></h5>
    </li>
  <% end %>
</ul>
