<div class="container">
  <div class="well">
    <h1><%= @job.title %></h1>
    <table class="table">
      <tr>
        <th>Description</th>
        <td><%= @job.description %></td>
      </tr>
      <tr>
        <th>Skill</th>
        <td><%= @job.skill.name %></td>
      </tr>
      <tr>
        <th>Requester Rating</th>
        <td><%= render partial: 'shared/average_rating', locals: {user: @job.requester} %></td>
        </tr>
      <tr>
        <th>Minimum Price</th>
        <td>$<%= @job.min_price %></td>
      </tr>
      <tr>
        <th>Maximum Price</th>
        <td>$<%= @job.max_price %></td>
      </tr>
    </table>
    <%= display_authorized_job_options %>
  </div>
</div>
