<div class="well review">
  <% if review.reviewee_role == "requester" %>
    <h3>Review for <%= User.find(review.requester_id).full_name %></h3>
    <h3>Written by <%= User.find(review.professional_id).business_name %></h3>
  <% elsif review.reviewee_role == "professional" %>
    <h3>Review for <%= User.find(review.professional_id).business_name %></h3>
    <h3>Written by <%= User.find(review.requester_id).full_name %></h2>
  <% end  %>

  <table>
    <tr>
      <td class="col-md-2"><h4>Review:</h4></td>
      <td class="col-md-10"><%= review.review %></td>
    </tr>
    <tr>
      <td class="col-md-2"><h4>Rating:</h4></td>
      <td class="col-md-10"><%= review.rating %></td>
    </tr>
  </table>

</div>
