<p>You already have an API key attached to your account.<br>
Requesting a new API key will overwrite your prior key.</p>

<%= form_tag api_accounts_path %>
  <%= label_tag 'accept', '*I understand my existing key will be overwritten' %>
  <%= check_box_tag 'accept' %>
  <%= label_tag 'password', '*Password' %><br>
  <%= password_field_tag 'password' %><br>
  <%= submit_tag 'Send New API Key' %>
