<p>Fill out all required fields and enter your password to get your API key</p>

<%= form_tag api_accounts_path %>
<table class="table">
  <tr>
    <td>
      <%= label_tag 'app_name', "Application's Name" %>
    </td>
    <td>
      <%= text_field_tag 'app_name' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag 'first_name', 'First Name' %>
    </td>
    <td>
      <%= text_field_tag 'first_name', @user.first_name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag 'last_name', 'Last Name' %>
    </td>
    <td>
      <%= text_field_tag 'last_name', @user.last_name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag 'email', 'Email Address' %>
    </td>
    <td>
      <%= text_field_tag 'email', @user.email %>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag 'url', "Application's URL" %>
    </td>
    <td>
      <%= text_field_tag 'url' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag 'redirect_url', "Redirect URL" %>
    </td>
    <td>
      <%= text_field_tag 'redirect_url' %>
    </td>
  <tr>
    <td>
      <%= label_tag 'password', 'Password' %>
    </td>
    <td>
      <%= password_field_tag 'password' %>
    </td>
  <tr>
    <td>
      <%= label_tag 'description', 'Description of API Use (Optional)' %>
    </td>
    <td>
      <%= text_area_tag 'description' %>
    </td>
    <tr>
      <td>

      </td>
      <td>
        <%= submit_tag 'Send Request', class:'btn btn-acquire' %>
      </td>
    </tr>
</table>
