<h1>Request Messaging API Key</h1>
<p>Fill out all required fields and enter your password to get your API key</p>

<%= form_tag api_account_path %>
  <%= label_tag 'first_name', 'First Name:' %><%= @user.first_name %>
  <%= label_tag 'last_name', 'First Name:' %><%= @user.last_name %>
  
