<div class="container">
  <div class="well">
    <p>Here are the applications you currently have registered with us</p>
    <%= link_to "register a new app", new_api_account_path %>
    <% @user_apis.each do |user_api| %>
      <div class="well">
        <h3><%= user_api.app_name %></h3>
        <p>API Key is: <%= user_api.key %></p>
        <p>Secret is: <%= user_api.secret %></p>
        <%= link_to "New Key", edit_api_account_path(@user) %>
      </div>
    <% end %>
    <p>Be sure to write down this key.  You must have this in order to use our API</p>
  </div>
</div>
