<div class="container">
  <h1>Create a New User Account</h1>
  <div class="jumbotron">
    <%= form_for(@user, url: requesters_path, :html => {:class => "form-horizontal center"} )  do |f| %>
      <div class="form-group">
        <%= f.label :first_name, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :last_name, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, class: "col-md-4 control-label" %>
        <div class="col-md-4">
        <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :phone, class: "col-md-4 control-label" %>
        <div class="col-md-4">
      <%= f.text_field :phone, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :street_address, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :street_address, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :state, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :state, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :zipcode, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :zipcode, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :password, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
      <%= f.submit "Create Account", class: "btn btn-primary center-block" %>
        <% end %>
    </div>
</div>
