<h1><%= @user.full_name %></h1>
<h3>Average Rating: <%= render partial: 'shared/average_rating', locals: {user: @user} %></h3>
<h3>Member since: <%= @user.created_at.to_s(:long) %></h3>
<p>
  <%= render partial: "shared/address", locals: {user: @user} %>
</p>

<p>
  <%= link_to 'Start A Project', new_job_path %>
</p>

<h3>Your Posted Jobs</h3>
<div class="jobs">
  <div id="open">
    <h3>Open Jobs</h3>
    <% @user.open_jobs.each do |job| %>
      <ul>
        <li><%= link_to "#{job.id} - #{job.title}", job_path(job) %></li>
      </ul>
    <% end %>
  </div>

  <div id="in_progress">
    <h3>In-Progress Jobs</h3>
    <% @user.in_progress_jobs.each do |job| %>
      <ul>
        <li><%= link_to "#{job.id} - #{job.title}", job_path(job) %></li>
      </ul>
    <% end %>
  </div>
</div>
