<h1><%= @user.business_name %></h1>
<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<h3>Average Rating: <%= render partial: 'shared/average_rating', locals: {user: @user} %></h3>
<p><%= link_to 'Edit Account', edit_professional_path(@user) %>
<p>
  <%= render partial: "shared/address", locals: {user: @user} %>
</p>
<h3>Skills Offered</h3>
<ul>
  <% @user.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
</ul>

<div class="jobs">
  <% @user.pro_jobs.in_progress.each do |job| %>
    <ul>
      <li><%= link_to "#{job.id} - #{job.title}", job_path(job) %></li>
    </ul>
  <% end %>
</div>
