<div  class="container">
  <div class="well">
    <h1>Welcome, <%= @user.first_name %> <%= @user.last_name %> of <%= @user.business_name %></h1>

    <table class="table">
      <tr>
        <td class="col-md-2">
          Member Since:
        </td>
        <td class="col-md-10">
          <%= @user.created_at.to_s(:long) %>
        </td>
      </tr>
      <tr>
        <td class="col-md-2">
          Average Rating:
        </td>
        <td class="col-md-10">
          <%= render partial: 'shared/average_rating', locals: {user: @user} %>
        </td>
      </tr>
      <tr>
       <td class="col-md-2">
         Business Address:
       </td>
       <td class="col-md-10">
         <%= render partial: "shared/address", locals: {user: @user} %>
       </td>
     </tr>
     <tr>
       <td class="col-md-2">
        Skills Offered:
       </td>
       <td class="col-md-10">
         <ul>
           <% @user.skills.each do |skill| %>
             <li><%= skill.name %></li>
           <% end %>
         </ul>
       </td>
     </tr>
    </table>

    <%= link_to 'Edit Account', edit_professional_path(@user), class:'btn btn-acquire' %>

    <div class="row">
      <div class="col-md-6"><h3>In-Progress Jobs</h3></div>
    </div>
    <div class="row">
      <div class="col-md-6"><h3><% @user.in_progress_jobs.each do |job| %>
        <ul>
          <li><%= link_to "#{job.id} - #{job.title}", job_path(job) %></li>
        </ul>
      <% end %></h3>
    </div>
    </div>
  </div>
</div>
