
<%= form_for @review, url: requesters_reviews_path do |f| %>
  <ul>
    <li>Requester ID: <%= f.text_field :requester_id %></li>
    <li>Professional ID: <%= f.text_field :professional_id %></li>
    <li>Reviewee Role: <%= f.text_field :reviewee_role %></li>
  </ul>

  <%= f.label :review %>
  <%= f.text_field :review %>


  <%= f.radio_button(:rating, 'one_star') %>
  <%= label(:review_rating_one_star, '1 star') %>
  <%= f.radio_button(:rating, 'two_stars') %>
  <%= label(:review_rating_two_stars, '2 stars') %>
  <%= f.radio_button(:rating, 'three_stars') %>
  <%= label(:review_rating_three_stars, '3 stars') %>
  <%= f.radio_button(:rating, 'four_stars') %>
  <%= label(:review_rating_four_stars, '4 stars') %>
  <%= f.radio_button(:rating, 'five_stars') %>
  <%= label(:review_rating_four_stars, '5 stars') %>


  <%= f.submit %>
<% end %>
