<!DOCTYPE html>
<html>
  <head>
    <title>AcquireAHire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to "Logout", logout_path_based_on_role %>
    <% else %>
    <% end %>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: "alert #{type}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
