<!DOCTYPE html>
<html>
  <head>
    <title>AcquireAHire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <%= display_navbar %>
    </nav>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: "alert alert-#{type}" %>
    <% end %>

    <%= yield %>

  </body>
</html>
